<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Come back later!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='animations.css') }}"
    />
  </head>
  <body style="background-color: #fcea04">
    <div class="container">
      <div class="message">This website is currently under construction 🏗️</div>
      <div class="message1">
        <a href="/contact">Contact</a>
      </div>
    </div>
  </body>
</html>
